<!-- <!DOCTYPE html>
Coding By CodingNepal - codingnepalweb.com --> <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Recruiter Page</title>
        <!-- Unicons -->
        <link rel="stylesheet" href="{{url_for('static',filename='css/recruiter.css')}}" />
        <script src="https://kit.fontawesome.com/76051b1a44.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap" rel="stylesheet">
       
        <!-- Custom CSS -->
        <style>
         .btn:hover
         {
          background-color: black;
          color: white;
          font-weight: bolder;
          transition-duration: 0.4s;
          cursor: pointer;
          }
        </style>

      </head>
      <body class="contain" >

      <span class="openbtn" onclick="toggleTooltip()">
          <i style="padding-right: 4px;" class="fa-regular fa-user"></i>
          <span id="username"></span>
          <div id="tooltipBox" class="tooltip-content">
            <a href="#"><i style="padding-right: 4px;" class="fa-regular fa-pen-to-square"></i>Edit Profile</a>
            <a href="#"><i style="padding-right: 4px;" class="fa-solid fa-right-from-bracket"></i>Logout</a>
          </div>
      </span>
        
        
        <!-- The sidebar -->
      
      <span style="font-size: 40px;" class="homepagetxt">RecruitAI</span> 
        <!-- <span style="font-size: 25px;" class="homepagetxt2">As accurate as you !</span> -->
        <!-- Home section -->
      <div class="ms-15 "  style="display: flex; margin-left: 90px;padding-top: 8%; ">
          <div class="card mt-5" style="width: 19rem;">
            <img src="../static/images/recruiterimgfirst.jpg"  width="210px" style="margin-left: 30px;margin-top: 10px;" alt="...">

              <div class="card-body">
                <h5 class="card-title">Posted Jobs</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/postedjobs" class="btn btn-primary">Posted Jobs</a>
              </div>
            </div><div class="card mt-5 ms-5" style="width: 19rem;">
              <img src="../static/images/recruiterimg2.jpg"  width="270px" height="183px" style="margin-left: 20px; margin-top: 37px;" alt="...">

              <div class="card-body">
                <h5 class="card-title">Job Description</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/jobdescriptionform_view" class="btn btn-primary">Description</a>
              </div>
            </div><div class="card mt-5 ms-5" style="width: 19rem;">
              <img src="../static/images/recruiterimgsthird.png"  width="220px" style="margin-left: 40px; "  alt="...">
              <div class="card-body">
                <h5 class="card-title">Shortlisting</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/shortlisting" class="btn btn-primary">Shortlisting</a>
              </div>
            </div><div class="card mt-5 ms-5" style="width: 19rem;">
              <img src="../static/images/applicantimg4.jpg" width="220px" style="margin-left: 40px;" alt="...">
              <div class="card-body">
                <h5 class="card-title">Upcoming</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Next Jobs</a>
              </div>
            </div>
          </div>
        
           
      
        <!-- JavaScript to open/close sidebar -->
        <script>
          // Show dropdown menu
      // Show tooltip box
      // Toggle tooltip box
      function toggleTooltip() 
      {
        var tooltip = document.getElementById("tooltipBox");
        if (tooltip.style.display === "block") {
          tooltip.style.display = "none";
        } else {
          tooltip.style.display = "block";
        }
      }
      window.onload = function() {
      var storedUserData = JSON.parse(sessionStorage.getItem('userData'));
      var userName = storedUserData.name;
      console.log(userName);
      document.getElementById('username').innerHTML = userName;
    };
      // Close tooltip box if clicked outside
      window.onclick = function(event) 
      {
        var tooltip = document.getElementById("tooltipBox");
        if (event.target !== tooltip && event.target.closest('.openbtn') === null) {
          tooltip.style.display = "none";
        }
      }
      
        </script>
        </script>
      </body>
      </html>  